<template>
  <div id="Footer" class="footer flex">
    <div class="footer-container flex flex-wrap align-center justify-center">
      <div class="logo">
        <img src="images/logo.svg" class="logo-image">
      </div>
      <div class="footer-info mb-1">
        Copyright © {{ new Date().getFullYear() }}
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#Footer {
  width: 100%;
  padding: 3rem 0;
  background: #911845 url("/images/flowers_pattern.svg") repeat;
  background-position: top;
  background-size: 50%;
  flex-direction: column;
}
.footer-container {
  flex-grow: 1;
}
.logo-image {
  width: 300px;
}

.footer-info {
  color: #fff;
}
</style>
