<template>
  <div class="page-gallery">
    <h2 class="section-title" v-text="'Look at Our Collection'" />
    <div class="gallery-row flex flex-wrap justify-center">
      <div v-for="card in dataInfo.gallery" :key="card.title" class="card-container">
        <vs-card type="4">
          <template #title>
            <h3 v-text="card.title" />
          </template>
          <template #img>
            <img :src="card.img" alt="">
          </template>
          <template #text>
            <p v-text="card.text" />
          </template>
          <template #interactions>
            <vs-button danger icon>
              <i class="bx bx-heart" />
            </vs-button>
          </template>
        </vs-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataInfo: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.page-gallery {
  height: 100%;
  padding: 6rem;
  background-image: url('~/static/images/wave.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.card-container {
  padding: 0.5rem;
}

.section-title {
  margin-top: 0;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1060px) {
  .page-gallery {
    height: 100%;
    padding: 3rem 1.5rem;
  }
}
</style>
