<template>
  <div id="HeadingSection" class="center grid">
    <div class="heading-row h-100">
      <div class="heading-container w-100 h-100 flex justify-start">
        <div class="card-container flex align-center">
          <div class="info-container">
            <h1 class="card-heading-title flex flex-wrap justify-center">
              <img src="images/logo.svg" class="logo-image">
              <div class="social-links flex justify-center w-100 mt-1">
                <vs-button v-for="social in dataInfo.head.socials" :key="social.href" icon>
                  <i :class="social.class" />
                </vs-button>
              </div>
            </h1>
            <div class="card-heading-text" v-text="dataInfo.head.description" />
            <!-- mint panel -->
            <div class="mint-container mt-2">
              <h2 class="mint-head">
                <i class="bx bxs-shopping-bag" /> MINTED: {{ nft.minted }} / {{ nft.total }}
              </h2>
              <k-progress :line-height="24" :active="true" :percent="mintedPercent" color="#cb4a60" :show-text="false" />
            </div>
            <!-- mint panel ends -->
            <div class="nav-buttons flex justify-end align-center w-100 mt-4">
              <div class="mint-label flex flex-wrap align-center">
                <div :class="{show: totalPrice > 0}" class="nft-price mr-2">
                  Total: {{ totalPrice }} ETH
                </div>
                <vs-input
                  v-model="buy"
                  type="number"
                  state="danger"
                  class="mr-2"
                  danger
                  icon-after
                  placeholder="Tokens qty"
                  @keypress="isNumber($event)"
                >
                  <template #icon>
                    <i class="bx bx-coin" />
                  </template>
                </vs-input>
              </div>
              <vs-button class="nav-button mint" gradient size="xl" :class="{disabled: totalPrice <= 0} ">
                <i class="bx bxs-shopping-bag mr-1" />
                <b v-text="`MINT NOW`" />
              </vs-button>
            </div>
          </div>
        </div>
        <!-- Gallery -->
        <div id="card-gallery" class="card-gallery flex align-center">
          <canvas id="threejs" />
          <!-- Cards -->
          <div class="carousel-container">
            <carousel
              pagination-active-color="#FFFFFF"
              pagination-color="#911845"
              :pagination-size="10"
              :per-page-custom="[
                [350, 1],
                [768, 2],
                [1400, 3],
              ]"
            >
              <slide v-for="card in dataInfo.head.cards" :key="card.img">
                <div class="single-card-container">
                  <vs-card type="1">
                    <template #title>
                      <h3 v-text="card.title" />
                    </template>
                    <template #img>
                      <img :src="card.img" alt="">
                    </template>
                    <template #text>
                      <p v-text="card.text" />
                    </template>
                  </vs-card>
                </div>
              </slide>
            </carousel>
            <!-- VueSax HOT FIX SSR RENDERER -->
            <div v-for="card in dataInfo.head.cards" :key="card.title" style="display:none;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataInfo: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      nft: {
        minted: 555,
        total: 1249,
        price: 0.02
      },
      buy: 0
    }
  },
  computed: {
    mintedPercent () {
      return (this.nft.minted / this.nft.total * 100).toFixed(0)
    },
    totalPrice () {
      return this.buy * this.nft.price
    }

  },
  mounted () {
    import('~/plugins/three.background')
  },
  methods: {
    isNumber (evt) {
      evt = (evt) || window.event
      const charCode = (evt.which) ? evt.which : evt.keyCode
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault()
      } else {
        return true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#threejs {
  position: absolute;
  z-index: -1;
  left: 0;
}

#HeadingSection {
  width: 100vw;
  min-height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  .heading-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .heading-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .heading-container {
    flex-grow: 1;
  }
  .mint-head {
    text-align: center;
  }
  .mint-label {
    position: relative;
  }
  .nft-price {
    position: absolute;
    text-align: center;
    bottom: 110%;
    opacity: 0;
    left: 8px;
    word-wrap: none;
    word-break: keep-all;
    white-space: nowrap;
    font-weight: bold;
    transition: opacity 0.15s ease-out;
    &.show {
      opacity: 1;
    }
  }
  .card-container {
    padding: 1rem;
  }
  .card-container {
    padding: 2rem;
    color: white;
    background: #911845 url("/images/flowers_pattern.svg") repeat;
    background-position: right;
    background-size: cover;
  }
  .card-container {
    width: 35%;
  }
  .card-gallery {
    position: relative;
    width: 65%;
    padding: 3rem;
  }
  .card-heading-title {
    font-size: 2rem;
  }
  .card-heading-text {
    white-space: pre-wrap;
    font-size: 18px;
  }
  .logo-image {
    width: 80%;
  }

  @media screen and (max-width: 1060px) {
    #HeadingSection {
      height: auto;
    }
    .nav-buttons {
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      .nav-button {
        min-width: 160px;
      }
    }
    .card-container {
      width: 100%;
    }
    .card-gallery {
      width: 100%;
      padding: 0;
    }
    .heading-container {
      flex-wrap: wrap;
    }
  }
}
.mint {
  min-width: 160px;
}
</style>
