<template>
  <div class="subheading flex align-items-center justify-center">
    <div class="subheading-card">
      <h2 class="subheading-title flex align-center justify-end">
        <i class="bx bx-help-circle mr-1" />
        <span class="subheading-help-text">INFO</span>
      </h2>
      <div class="faq-item" v-text="dataInfo.faq.text" />
      <!-- <div v-for="question in dataInfo.faq" :key="question.question" class="faq-item">
        <h4 v-text="question.question" />
        <div
          class="subheading-text"
          v-text="question.answer"
        />
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataInfo: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.subheading {
  width: 100%;
  background: #911845 url("/images/flowers_pattern.svg") repeat;
  background-position: left;
}

.faq-item {
  margin-top: 4rem;
  white-space: pre-wrap;
}

.subheading-card {
  position: relative;
  margin: 8rem 0;
  width: 50%;
  padding: 3rem;
  color: #fff;
  background: #cb4a60;
}
.subheading-title {
  position: absolute;
  right: 3rem;
  text-align: end;
  margin: 0;
  font-size: 2rem;
  color: #911845;
}

@media screen and (max-width: 1060px) {
  .subheading-card {
    width: 70%;
    margin: 5rem 0;
    padding: 2rem;
  }
  h4 {
    margin-top: 3rem;
  }
}
</style>
