@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');


// Variables
$background-color: #911845;


:root {
  --vs-primary: 203, 74, 96;
}

body {
  background: #cb4a60;
  font-family: 'Outfit', sans-serif;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}


// Custom Styles

.vs-card {
  background: $background-color;
  color: #fff;
}
@import 'carousel.scss';


.vs-icon-arrow::after,
.vs-icon-arrow::before {
  background: #fff;
}

// Fix Scroll Vuesax
.vs-card__group .vs-card__group-cards {
  overflow-x: hidden;
}

.vs-card-content.type-4 .vs-card__text {
  background: #911845;
  opacity: 0.95;
}


// Progress
.k-progress-outer {
  padding: 0 !important;
  margin: 0 !important;
}

.vs-input-parent--state-danger .vs-input {
  background: #fff !important;
}

.vs-input--has-icon--after ~ .vs-input__label {
  left: 13px;
  font-size: 16px;
  font-weight: bold;
}


// Numbers Controls fix
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
