.single-card-container {
  padding: 0 2rem;
}

.carousel-container {
padding: 0 3rem;
}

// Carousel
.VueCarousel-slide {
  display: flex;
  justify-content: center;
}


.VueCarousel-dot:focus {
  outline: none !important;
}

@media screen and (max-width: 1060px) {
  .carousel-container {
    margin: 2rem 0;
    }
}

@media screen and (max-width: 768px) {
  .VueCarousel-wrapper {
    max-width: 100vw;
  }
  .single-card-container {
    padding: 0;
    margin: 0;
    max-width: 300px;
  }
  .carousel-container {
    margin: 5rem 0;
    padding: 2rem 0;
    }
}
