<template>
  <div v-if="dataInfo" id="Page">
    <HeadingComponent :data-info="dataInfo" />
    <SubHeadingComponent :data-info="dataInfo" />
    <GalleryComponent :data-info="dataInfo" />
    <FooterComponent :data-info="dataInfo" />
  </div>
</template>

<script>
import HeadingComponent from '~/components/HeadingComponent.vue'
import SubHeadingComponent from '~/components/SubHeadingComponent.vue'
import GalleryComponent from '~/components/GalleryComponent.vue'
import FooterComponent from '~/components/FooterComponent.vue'

export default {
  name: 'IndexPage',
  component: { HeadingComponent, SubHeadingComponent, GalleryComponent, FooterComponent },
  data () {
    return {
      dataInfo: null
    }
  },
  async fetch () {
    const response = await this.$http.get('/data.json')
    this.dataInfo = await response.json()
  }
}
</script>
